<!DOCTYPE html>
<html lang="en">

    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>E6156 -- First Application</title>

      <!-- Bootstrap core CSS -->
      <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/small-business.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

    <!-- DFF -->
    <script src="./homeController.js"></script>

  </head>

  <body ng-app="myApp" ng-controller="myCtrl">


    <!-- Modal -->
    <div id="loginModal"  class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login or Register</h4>
          </div>
          <div class="modal-body" >
            <form ng-show="!loginRegisterResult">
              <div ng-show="register" class="form-group">
                <label for="exampleInputFirstname">First name</label>
                <input ng-model="firstName" type="text" class="form-control" id="exampleInputFirstname"  aria-describedby="emailHelp" placeholder="Enter first name">
                <small id="firstName" class="form-text text-muted">We'll never share your name with anyone else.</small>
              </div>
              <div ng-show="register" class="form-group">
                <label for="exampleInputLastname">Last name</label>
                <input ng-model="lastName" type="text" class="form-control" id="exampleInputLastname"  aria-describedby="emailHelp" placeholder="Enter first name">
                <small id="lastName" class="form-text text-muted">We'll never share your last name with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input ng-model="lemail" type="text" class="form-control" id="exampleInputEmail1"  aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.{{password}}{{lemail}}</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" ng-model="password" placeholder="Password">
              </div>
              <div ng-show="register" class="form-group">
                <label for="exampleInputPassword2">Reenter password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" ng-model="password2" placeholder="Reenter Password">
              </div>
              <div class="form-check">
                <input ng-model="register" type="checkbox" class="form-check-input" id="exampleCheck1">
                <label  class="form-check-label" for="exampleCheck1">Register</label>
              </div>
            </form>
            <div ng-show="loginRegisterResult">
              <h2>Result = {{loginRegisterMessage}}</h2>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button  ng-show="loginOK()&&(!loginRegisterResult)" type="button" class="btn btn-default btn-primary" ng-click="driveLogin()">Login or Register</button>
          </div>
        </div>
      </div>
    </div>

    <div id="addressModal"  class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login or Register</h4>
          </div>
          <div class="modal-body" >
            <form ng-show="!loginRegisterResult">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="text" id="calle2" name="calle" placeholder="calle" style="width:300px">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.{{password}}{{lemail}}</small>
              </div>
            </form>
            <div ng-show="loginRegisterResult">
              <h2>Result = {{loginRegisterMessage}}</h2>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button  ng-show="loginOK()&&(!loginRegisterResult)" type="button" class="btn btn-default btn-primary" ng-click="driveLogin()">Login or Register</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Welcome to E6156</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" ng-click="doLogin()">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="images/columbia.jpg" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div ng-show="!loginRegisterResult" class="col-lg-4">
        <h3>COMSW E6146</h3>
        <h4>Topics in SW Engineering</h4>
        <h4>Microservices and Cloud Apps</h4>
        <p>This page uses:</p>
        <ul>
          <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
          <li><a href="https://startbootstrap.com/template-overviews/small-business/">A Bootstrap theme/template</a></li>
          <li><a href="https://angularjs.org/">AngularJS</a></li>
        </ul>
        <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=f8e3JVFRIEk">Call to Action!</a>
      </div>
      <div ng-show="loginRegisterResult" class="col-lg-4">
        <h3>COMSW E6146</h3>
        <h4>Topics in SW Engineering</h4>
        <h4>Microservices and Cloud Apps</h4>
        <p>Welcome:</p>
        <ul>
          <li>{{customerInfo.lastName}}, {{customerInfo.firstName}}</li>
          <li>{{customerInfo.email}}</li>
          <li>Customer Since: {{customerInfo.created}}</li>
        </ul>
        <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=f8e3JVFRIEk">Call to Action!</a>
      </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">I am supposed to supply a clever tagline here. Here it is. <span style="color:yellow;">
            <strong>I am really bad at HTML page layout.</strong></span></p>
          <form>
            <br>
            <input type="text" id="calle" name="calle3" placeholder="calle" style="width:300px">
            <br>
          </form>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div  class="col-md-4 mb-4">
          <div ng-show="!loginRegisterResult"class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Some Latin</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
              <a ng-click="doAddressModal()" class="btn btn-primary">Change Address</a>
            </div>
          </div>
          <div ng-show="canary" class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Create/Update Address</h2>
              <p class="card-text">
                  <form>
                    <br>
                    <input type="text" id="calle" name="calle" placeholder="calle" style="width:300px">
                    <br>
                  </form>
                  <small id="addressString" class="form-text text-muted">We'll never share your address with anyone else.</small>
              </p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card Two</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card Three</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/5.1/jquery.liveaddress.min.js"></script>
    <script>
        let ss = jQuery.LiveAddress({
            key: "18981749384552786",
            waitForStreet: true,
            debug: true,
            target: "US",
            addresses: [{
                freeform: '#calle'
            }]
        })
    </script>

    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
