<!DOCTYPE html>
<html lang="en">

  <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>W4111 -- First Web Application</title>

      <!-- Bootstrap core CSS -->
      <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/small-business.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>

    <!-- DFF -->
    <script src="./homeController.js"></script>

  </head>

  <body ng-app="myApp" ng-controller="myCtrl">


    <!-- Modal -->
    <div id="loginModal"  class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        </div>
      </div>
    </div>

    <div id="someOtherModal"  class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
        </div>
      </div>
    </div>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Welcome to W4111</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a ng-show= "someUIState" class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a ng-show="someUIState" class="nav-link" ng-click="doServices()">Services</a>
            </li>
            <li class="nav-item">
              <a <a ng-show="someOtherUIState" class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a <a ng-show="someOtherUIState" class="nav-link" ng-click="doLogin()">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div ng-show="someUIState" class="container">

      <!-- Rows with columns and cards go here. -->

    </div>

    <div ng-show="someOtherUIState" class="container">

      <!-- Different rows with columns and cards go here. -->

    </div>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/5.1/jquery.liveaddress.min.js"></script>
    <script>
        let ss = jQuery.LiveAddress({
            key: "18981749384552786",
            waitForStreet: true,
            debug: true,
            target: "US",
            addresses: [{
                freeform: '#calle'
            }]
        })
    </script>

    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
