<!-- Page Content -->
<div class="container" ng-app="CustomerApp" ng-controller="ProfileController">


    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-4">
        <div class="card-body">
            <div >
                <div  class="row">
                    <div class="col-lg-12">
                        <h1>Profile/My Account Menu Options:</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Search if you know the unique player ID for the player.</p>
                    </div>
                    <div class="col-sm">
                        <div class="radio">
                            <label><input ng-model="search_type" type="radio" value="{{searchStates.byId}}"
                                          name="radio1" >&nbsp;&nbsp;By player ID</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Search if you know the players full last name. You may optionally enter a first name.</p>
                    </div>
                    <div class="col-sm">
                        <div class="radio">
                            <label><input ng-model="search_type" type="radio" value="{{searchStates.byName}}"
                                          name="radio1" > By name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <p>Choose if you want to submit a general search as a combination of any player properties.</p>
                    </div>
                    <div class="col-sm">
                        <div class="radio">
                            <label><input ng-model="search_type" type="radio" value="{{searchStates.byQuery}}"
                                          name="radio1" > By general query</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <p>Choose if you want to search by team and year.</p>
                    </div>
                    <div class="col-sm">
                        <div class="radio">
                            <label><input ng-model="search_type" type="radio" value="{{searchStates.byTeamAndYear}}"
                                          name="radio1" > By team and year.</label>
                        </div>
                    </div>
                </div>

                <hr>
                <!-- Modal -->
                <!--
                    User entered insufficient information.
                -->
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div  class="col-md-4 mb-4">
            <div ng-show="!loginRegisterResult"class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Some Latin</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                    <a ng-click="doAddressModal()" class="btn btn-primary">Change Address</a>
                </div>
            </div>
            <div ng-show="loginRegisterResult" class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Create/Update Address</h2>
                    <p class="card-text">
                    <form>
                        <br>
                        <input type="text" id="calle" name="calle" placeholder="calle" style="width:300px">
                        <br>
                    </form>
                    <small id="addressString" class="form-text text-muted">We'll never share your address with anyone else.</small>
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Two</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Three</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->


</div>
<!-- /.container -->