<!-- Page Content -->


<div class="container" ng-app="CustomerApp" ng-controller="ProfileController">


    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-4">
        <div class="card-body">
            <h2>Enter and Address</h2>
            <form>
                <br>
                    <input type="text" id="newaddress" name="newaddress" placeholder="{{placeholder}}"  style="width:500px">
                <br>
            </form>
            <p></p>
            <div class="dropdown">
                <button class="btn  btn-primary dropdown-toggle"
                        type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;" >
                    Choose the type of address
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a ng-click="addressKind($index)" ng-repeat="k in addressKinds" class="dropdown-item">{{k}}</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div  class="col-md-4 mb-4">
            <div ng-show="!loginRegisterResult"class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Some Latin</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                    <a ng-click="doAddressModal()" class="btn btn-primary">Change Address</a>
                </div>
            </div>
            <div ng-show="loginRegisterResult" class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Create/Update Address</h2>
                    <p class="card-text">
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Two</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Card Three</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->


</div>
<!-- /.container -->